[2019-05-20 11:57] nutti commented on #111
Magic UV v6.1 is released now.
Maybe this problem is already fixed.
If you have any problem, please make new issue or reopen this issue.

[2019-05-20 11:57] #111 closed

[2019-07-12 18:17] ab-in opened #112 "updater for linux"
Traceback (most recent call last):
  File "/usr/share/blender/2.80/scripts/addons/magic_uv/updater.py", line 72, in execute
    updater.update(self.branch_name)
  File "/usr/share/blender/2.80/scripts/addons/magic_uv/utils/addon_updator.py", line 314, in update
    _make_workspace(self.__config.addon_directory)
  File "/usr/share/blender/2.80/scripts/addons/magic_uv/utils/addon_updator.py", line 8

[2019-07-12 23:15] johnrossporter commented on #95
I am getting an error when using texture lock on Blender 2.8. Happens sometimes when the Unlock button is pressed-
`Traceback (most recent call last):
  File "C:\Users\John\Desktop\blender-2.80.0-git.66684bdff30f-windows64\2.80\scripts\addons\magic_uv\op\texture_lock.py", line 367, in execute
    ll, uv_layer, verts_orig, v, ini_geom)
  File "C:\Users\John\Desktop\blender-2.80.0-git.66684bdff30f-w

[2019-07-31 01:01] nutti commented on #112
This bug is already fixed. 4890518e1b6e7e2401a07c85b4c57b62b67f016f

[2019-07-31 01:01] #112 closed

[2019-08-01 22:12] DusanStev opened #113 "Offset uv faces to -1.0, 1.0 uv range"
Hi,

I am attaching working script (works in Blender 2.80). Made it for myself, but it would be great if you could use it/modify it, and put it in the Magic-UV as standard option.

I use it to move UV faces to -1.0, 1.0f UV range, since on mobile graphic hardware there are issues with UV precision when large numbers are used. With this add-on, UV faces (centers) are moved closely as possible to ce

[2019-08-02 09:07] nutti commented on #113
@DusanStev

It looks nice to include this feature to Magic UV.

I think the feature already works fine.
If you want to try to include this feature by yourself, you can send pull request from below link.
https://github.com/nutti/Magic-UV/pulls

Are you willing to send pull request and merge this feature manually?
I'm waiting for your response.
Anyway, thanks for a feature request.

[2019-08-02 16:05] DusanStev commented on #113
@nutti

I am primarily C/C++/C# programmer, so python and blender API is something that I do in "emulation" :) mode (when I have to), prone to trial and error, and not so elegant as I wanted to. So, maybe it is a better solution, for you to properly insert this part of code somewhere in Magic UV when you find time (perhaps it would be better suited to be in UV editor as option to modify existing U

[2019-08-02 23:01] nutti commented on #113
@DusanStev

I understood your background.
Then, I will include your codes ASAP.
Thanks for your codes.

And I have a request about including your name to add-on's authors.
It is a rule of Blender's add-on to include developers name as add-on's authors.
If you have a proper name as add-on author, please tell me.

[2019-08-03 04:53] DusanStev commented on #113
Please use the name supplied in add-on author field (or if is too long use DusanStev). Thank you.

[2019-08-06 00:20] nutti commented on #113
@DusanStev

I'm now trying to merge your feature.
And I have a question about this feature.

I tried to adopt this feature to simple box UV map, and I found that the UV island is collapsed.
Is it expected behavior because it looks same even if UV coordinate is differ?

[2019-08-06 09:34] nutti commented on #113
@DusanStev

Added your feature as **Clip UV**.
Before I merge this feature to mainline of Magic UV, could you try this feature?
Some options (the range can be configured by the users) are added to this feature.

https://github.com/nutti/Magic-UV/archive/spike_113.zip

<img width="229" alt="github_20190806" src="https://user-images.githubusercontent.com/1463952/62528840-77fa7600-b878-11e9-8301-d3b4

[2019-08-07 13:57] DusanStev commented on #113
Hi, i have tested it. Found some issues:
1) I don't know if it is a glitch, but when i compare inserted feature with original script it does not return same result (visible on screenshots). I use min/max values set as on screenshot to try get the same behavior (maybe script default should be 0.5, -0.5 instead of 1.0, -1.0).

2) script reports math domain error if both values for min/max are zero (

[2019-08-07 14:22] DusanStev commented on #113
Sorry missed this in reply. Yes it is intended, sometimes UV island can be very large, and it has to split in individual faces to fit (maybe use check box, split islands on/off).

[2019-09-09 15:05] markhenrickson opened #114 "UV island - add corner pin adjustment"
**Description about the feature**
*The description about the feature. It is good to clear who will benefit with this feature.*
it would be great if the UV island feature allowed for the equivalent of corner pin adjustment rather than just scaling and rotation.

**Are you willing to contribute about this feature. (Yes/No)**
contribute how

**Screenshots** [Optional]
*It is good to understand the fe

[2019-09-17 05:21] nutti commented on #114
@markhenrickson

Thanks for the request.

Could you give me the detail of these features with using screenshots?
It is useful for me to implement this feature.

Contributes mean that if you have a skill of making add-on, you can send pull request to this add-on.

[2019-09-17 05:22] nutti commented on #113
@DusanStev

Sorry for the late reply.
I understand your intention. Thanks.
I will tackle this feature ASAP after I finished other works.

[2019-09-17 12:19] nutti commented on #113
@DusanStev

I fixed the issues you mentioned.
Could you try this new version from below link?

https://github.com/nutti/Magic-UV/archive/spike_113.zip

Thanks.

[2019-09-22 12:42] DusanStev commented on #113
Thank you for update. I have tested it today (sorry for delay). It uses 0.5 range for input and preserves tiling, but it seems that result is always the same, regardless of values used in min/max field of Clip UV.

[2019-09-25 11:26] nutti commented on #113
Thanks.
Umm.., it looks strange.
I will check it.

[2019-09-30 12:35] nutti commented on #113
@DusanStev

I found the cause of this bug.
This bug is now fixed.
You can try bug fixed version from below link.

https://github.com/nutti/Magic-UV/archive/spike_113.zip

[2019-10-02 17:17] DusanStev commented on #113
It is working now :). I've tested it a bit and everything seems fine. There is a small difference in result compared to original script... but this one has adjustable clipping :).

Thank you

[2019-10-03 10:54] nutti commented on #113
Thanks for checking this feature.
Now it is merged into develop branch, and will be released next version (v6.3).

[2019-10-03 10:54] #113 closed

[2019-10-06 01:38] nutti commented on #114
@markhenrickson

Any update?
I would like to know this feature more detail.
I could not implement this feature with current information.
Thanks.

[2019-10-09 14:07] nutti opened #115 "The overlapping UV inspection with multiple objects"
**Description about the feature**

Add options to enable the overlapping UV with multiple objects.

[2019-10-23 13:15] mifth opened #116 "UVTransfer is Broken"
* OS: [e.g. Windows]
Blender 2.81
Magic UV 6.2

Hello! It looks like UV Transfer is broken. I tried to paste uvs but it writes "2 Faces must be selected".

![image](https://user-images.githubusercontent.com/2251298/67396460-4e680580-f5b0-11e9-8aee-52538b7ea4e0.png)

[2019-10-23 13:23] mifth commented on #116
[tmp.zip](https://github.com/nutti/Magic-UV/files/3762541/tmp.zip)

Here is my example test.

[2019-10-26 06:40] nutti commented on #116
@mifth

Thanks for your report. Nice catch!
I will fix it, but I can not spend my time about this recently.
Could you wait until my busy days is gone?

If you have time, it's pleasure that you send me Pull Request :-)
Source code of Transfer UV is https://github.com/nutti/Magic-UV/blob/master/src/magic_uv/op/transfer_uv.py .
Thanks again!!

[2019-10-29 12:58] mifth commented on #116
Hi.
I deleted pycache files of the Magic UV and now all works fine. Strange that it happened.
TYhanks, I close the issue.

[2019-10-29 12:58] #116 closed

[2019-10-30 11:36] nutti commented on #116
Understood. Thanks for the investigation.

[2019-11-10 18:43] AntonioCaroppos opened #117 "Straighten raises bug"
**System Information**

Windows 10
Blender v 2.81 Beta
Magiv UV 6.2.0

UVs should be straightened
Blender reports errors

I have uploaded a video here:
https://youtu.be/6NSumPmhWjs

I have uploaded the Blend file here:
http://pasteall.org/blend/index.php?id=52580

[2019-11-15 23:51] Aquaowolf opened #118 "Texture UV Lock heavily warping."
**System Information**

* OS: Windows 10
* Blender version: 2.8
* Add-on version: 6.2

**Expected behavior**
I should be able to move verts, edges, etc... and the texture stays in it's place un-warped.

**Description about the bug**
When I start going everything's fine, I've used this addon alot lately for making foliage cards
so I make my plane, cut out around my texture, and once I subdivide or

[2019-11-25 20:48] handsomeboy256 opened #119 "Traceback error with MagicUV in 2.81"
**System Information**

* OS: Windows 10
* Blender version: 2.81
* Add-on version: 6.2.0

**Expected behavior**
Smooth or pack UVs, use magicUV functions.

**Description about the bug**
When using Magic UV smooth, straighten, or pack it has a traceback error.

**Screenshots/Files** [Optional]
![image](https://user-images.githubusercontent.com/58191000/69576769-d9f2fe80-0f81-11ea-9ea4-ec6ebda624de.

[2019-11-29 14:54] GideonAlistair opened #120 "Unable to locate Magic UV."
Hello, I am unable to locate Magic UV after enabling it. I'm currently using Blender 2.79a and I installed Magic UV version 4.4.0. (I believe that is the default
I know where it supposed to be under 3D View, so my only guess is that it's either conflicting with another addon or I may have installed it incorrectly.
![image](https://user-images.githubusercontent.com/44348905/69876656-bed80580-1285-1

[2019-11-29 15:39] GideonAlistair commented on #120
I forgot to include the list of addons I have built in currently. Here they are:
![image](https://user-images.githubusercontent.com/44348905/69879065-21cc9b00-128c-11ea-8979-c6a7dffc9155.png)

[2019-11-30 13:28] GideonAlistair commented on #120
This is the message I receive when I import it into blender with "Install Addon from File"
_______UNregister previews
trying to save userpref at C:\Users\Mike\AppData\Roaming\Blender Foundation\Blender\2.79\config\userpref.blend ok
Modules Installed () from 'C:\\Users\\Mike\\Desktop\\Junk\\Magic-UV-master.zip' into 'C:\\Users\\Mike\\AppData\\Roaming\\Blender Foundation\\Blender\\2.79\\scripts\\add

[2019-11-30 14:32] GideonAlistair commented on #120
It worked after I tried out version 6.2.

[2019-11-30 14:32] #120 closed

[2019-12-22 18:40] josephbburg commented on #119
I have this problem, too. It's the recursion limit on your Python that causes it- https://stackoverflow.com/questions/3323001/what-is-the-maximum-recursion-depth-in-python-and-how-to-increase-it

[2020-03-10 11:24] davidmorning commented on #119
Getting the same issue with Blender 2.82, is there a work around with the above link? I tried tweaking the script, but even adding the sys.setrecursionlimit function in the functions listed above didn't seem to make a difference to the limit it hit

[2020-03-12 19:01] benben962 commented on #104
Hi there,

I also systematically have this error no matter the project I select. Even if I try with a basic cube with the basic unwrapping in Blender, I get the same error when I try to use "Align UV".

I stay at your disposal for any further information you would need, all best,
Ben

[2020-03-27 10:44] ApeInOuterSpace commented on #119
I have a similar issue in Blender 2.83 on Fedora 31. Would be great if this bug could be fixed.

`
bpy.ops.uv.muv_align_uv_straighten(transmission=False, select=False, vertical=False, horizontal=False, mesh_infl=0)

Traceback (most recent call last):
  File "/usr/share/blender/2.82/scripts/addons/magic_uv/op/align_uv.py", line 597, in execute
    loop_seqs, error = common.get_loop_sequences(bm, uv

[2020-03-28 16:53] Wufflatious opened #121 "where is the executable"

[2020-03-28 16:55] #121 closed

[2020-03-30 00:34] nutti commented on #104
@benben962

Great!
I could not get this error for my environment.
Any information is welcomed. Thanks!

[2020-03-30 00:37] nutti commented on #119
Hi, there!

Thanks for your feedback!
I think this issue must be resolved, and will tackle to fix it.

[2020-04-01 00:21] Andrew52d commented on #104
Hi Nutti

I just started using your Addon today.  I found it after trying to find an easy way of aligning edges and came across your Addon built into Blender

Just as the others, I'm getting the same issue when trying to Align edges on any asset
`More than 2 UVs must be selected`
At first I thought it was something to do with my mirror modifiers so I disabled them, got the same result.  I then tri

[2020-04-03 07:36] nutti opened #122 "New Feature: Swap seam/sharp edges operator"
Feature request described in https://blender.community/c/rightclickselect/1wfbbc/

[2020-04-05 00:39] nutti commented on #119
Thanks for reporting this issue, and sorry for late response.

This issue is fixed, and available at [unstable](https://github.com/nutti/Magic-UV/archive/develop.zip) version.
This patch will be available at next release.

[2020-04-05 00:39] #119 closed

[2020-04-06 07:37] omarM1993 opened #123 "World Scale UV not applying to all UV islands"
**System Information**

* OS: [e.g. Windows]
* Blender version: [ 2.82]
* Add-on version: [ 6.2]

Make a cube, mark all edges as seams and uv unwrap it, in the uv editor resize uv islands randomly (make some big others small) , now  select all faces and  apply World Scale UV  on manual mode (eg 1024 200 desity)
**Expected behavior**
each face (UV island) get similar size with the expected density

[2020-04-09 12:32] DanMcLaughlin opened #124 "Overlay island centers for tiling applications"
**Description about the feature**

For games it's common to make a large object - such as a wall for a building, cut into approximately equal squares, then overlay the UV squares so they can share texture space. It simply consists of taking the centers of all selected squares and moving them to the same place like the cursor.

*The description about the feature. It is good to clear who will benefi

[2020-04-12 01:48] nutti commented on #124
@DanMcLaughlin

Thanks for your proposal.
It is a great idea to add this feature.

BTW, what is the difference between Copy/Paste UVs and this feature.
I think we can achieve this idea by using Copy/Paste UVs feature which is already in Magic UV.

[2020-04-12 02:03] nutti commented on #104
@Andrew52d

Thanks for reproducing the error.
If you don't mind, could you give me reproducible file?
This information helps me a lot.

[2020-04-12 12:03] DanMcLaughlin commented on #124
@nutti
Similar which is why I agree this would be a good addition to the Magic-UV feature set. But in this case it would be a **Cut**/Paste operation instead of Copy. However there are some problems with it. First is that what you want is to select a set of UV's and have them individually all be moved to the cursor.

![image](https://user-images.githubusercontent.com/4943582/79068110-2745e300-7c79

[2020-04-12 12:03] nutti commented on #122
This feature is already realized by another add-on (https://github.com/vitos1k/pipelinetools/blob/master/invert_seams.py).
I think this feature should not be included to Magic UV because this feature is not directly related to UV manipulation.
So, close this issue for now.

[2020-04-12 12:03] #122 closed

[2020-04-18 17:24] Andrew52d commented on #104
Sure thing!  I'll Email you the file through your posted address at nutti.metro@gmail.com
I stripped everything out except that piece, can confirm it still errors out

[2020-05-09 19:30] amsaid1989 opened #125 "Errors when trying to use any of the Magic UV operators in Blender 2.82"
**System Information**

* OS: Linux Mint 19.3
* Blender version: 2.82a
* Add-on version: 6.2

**Expected behavior**
Take the Straighten operator from the Align UV panel, the expected behavior would be to straighten the UVs, but that doesn't happen.

**Description about the bug**
What happens is I get a long Traceback message. You can find it here:
https://pastebin.com/cbUq9sUF

[2020-05-09 19:39] #125 closed

[2020-05-09 19:39] amsaid1989 commented on #125
sorry.. I think I might be using the addon in a wrong way.. I will see if I can figure the problem out myself, and if not I will reopen the issue

[2020-05-21 08:45] nutti commented on #124
@DanMcLaughlin

I'm so sorry about late reply because of tackling other projects such as [Screencast Keys](https://github.com/nutti/Screencast-Keys) and [fake-bpy-module](https://github.com/nutti/fake-bpy-module).
From now, I can concentrate to upgrade Magic UV.

I understood your proposal.
It looks good feature to me.
Before implementing this issue, I would like to check your intention of contrib

[2020-05-21 09:26] nutti commented on #123
@omarM1993

Sorry for late reply.
Thanks for sharing your issue!

Current **World Scale UV** decides the target size using the whole mesh size.
So, your request indicates to use the face size (or UV island size),doesn't it?

[2020-05-21 13:37] nutti commented on #117
@AntonioCaroppos

Sorry for very late reply.
This issue is duplicate of #119 , and already fixed.
I did not release the add-on with this patches, but you can try it from [unstable version](https://github.com/nutti/Magic-UV/archive/develop.zip).
If you have any other issues related this feature, please open the issue.
Thanks.

[2020-05-21 13:37] #117 closed

[2020-05-23 08:35] nutti commented on #115
This feature is now supported.

[2020-05-23 08:35] #115 closed

[2020-05-26 17:59] DanMcLaughlin commented on #124
@nutti

No problem, likewise I needed some time to think about this.

Yes I'm very experienced engineer and with Python, I don't have any experience in Magic UV and a little in Blender UV API. Anyhow if you could give me a kickstart, or better a shell file to fill in - with where you want it and such, maybe just check in such a shell that I can check out, then I can fill it in with the functionali

[2020-05-27 01:27] nutti commented on #124
@DanMcLaughlin

Nice!

I think this feature seems to relate to Copy/Paste UV feature.
Also, this feature seems to be used in UV Editor.
So, it is good to add to its [source code](https://github.com/nutti/Magic-UV/blob/master/src/magic_uv/op/copy_paste_uv_uvedit.py).
UI code exists in [this code](https://github.com/nutti/Magic-UV/blob/master/src/magic_uv/ui/uvedit_copy_paste_uv.py).

If you have an

[2020-05-29 14:35] nutti commented on #110
@Ammusionist

This feature is now supported.
You can use this feature from master branch (will be released with v6.3).
Please try this feature from **Image Editor** > **UV Inspection** > **Paint UV Island**.

[2020-05-29 14:35] #110 closed

[2020-05-30 08:37] nutti commented on #84
There is no response for a long time.
And this seems to be a issue of usage question.
So, I close this issue for now.

@juliocargnin

If you still have issues about this feature.
Feel free to reopen this issue or open new issue.

[2020-05-30 08:37] #84 closed

[2020-05-30 17:11] Fak3 opened #126 "Improve performance of 3dview UI moving"
I have a DAZ-3D human model with 15k vetrices, and when I am trying to move uv in the 3d viewport, it eats 100% cpu and takes about 5 seconds to finish the stroke and update the visible result.

[2020-05-30 17:36] Fak3 opened #127 "UV sculpt AttributeError: Vector subtraction: (NoneType - Vector) invalid type for this operation"
**System Information**

* OS: LInux
* Blender version: 2.83
* Add-on version: Git master

When i tried to sculpt UV in 3d view edit mode, it fails with error:
[code]

[2020-05-31 08:33] nutti commented on #127
@Fak3

I could not reproduce this error.
Could you give me your detail situation?
I think this error comes from the model location.
Thanks.

[2020-05-31 10:22] Fak3 commented on #127
Here is the blend file: https://drive.google.com/file/d/1U2MhaL0f6Ry6SB4c0YYDyIG00xbzk9qf/view?usp=sharing
How to reproduce (see screenshot):

* Open the UV editing workspace
* Select all faces
* Enable UV sculpt in N-menu
* Try to sculpt with it over the mesh

![Screenshot_20200531_131601](https://user-images.githubusercontent.com/991641/83349881-b2ba2700-a340-11ea-9480-c8550070f609.jpeg)

[2020-06-01 08:09] nutti commented on #127
@Fak3

I could reproduce this issue.
Thanks to your cooperate, I could fix this issue (It is already in master branch).

[2020-06-01 08:09] #127 closed

[2020-06-01 08:34] nutti commented on #126
@Fak3

Thanks for your suggestion!
I optimized Move UV feature.
Before this patch is merged to master branch, could you try prototype version?
https://github.com/nutti/Magic-UV/archive/spike_126.zip

[2020-06-02 18:57] Fak3 opened #128 "RecursionError when align UV action clicked"
System Information

*    OS: LInux
*    Blender version: 2.83
*    Add-on version: Git master

Steps to reproduce:
* open this blend file https://drive.google.com/file/d/1U2MhaL0f6Ry6SB4c0YYDyIG00xbzk9qf/view?usp=sharing
* in the uv editor, open N menu, there open the magic uv tab -> UV manipulation -> Align UV
* Select any face
* Click "Straighten" or "Circle" or "XY-axis"

result: addon crashes

[2020-06-03 01:19] nutti commented on #126
@Fak3

Thanks for your testing!
I will merge this patch ASAP.

[2020-06-03 01:20] nutti commented on #128
@Fak3

Nice catch! I will fix it.

[2020-06-03 08:39] nutti commented on #126
The patch is already merged to master branch.

[2020-06-03 08:39] #126 closed

[2020-06-03 09:17] nutti commented on #128
This issue was fixed now (already in master branch).

[2020-06-03 09:17] #128 closed

[2020-06-03 09:44] Fak3 opened #129 "Select Overlapped or Flipped results in TypeError: zip argument #1 must support iteration"
**System Information**

* OS: Linux
* Blender version: 2.83
* Add-on version: git master

Steps to reproduce:

* open this blend file https://drive.google.com/file/d/1U2MhaL0f6Ry6SB4c0YYDyIG00xbzk9qf/view?usp=sharing
* in the uv editor, open N menu, there open the magic uv tab -> UV manipulation -> Select UV
* click "Overlapped" or "Flipped"

result:
[code]

[2020-06-03 09:47] Fak3 opened #130 "Give more informative "All UVs are not separated" error."
Sometimes when you click "Straighten" or other actions in "Align UV" section, the plugin gives an error "All UVs are not separated". It would be nice to see more clear explanation what does it mean and how user could fix it.

Does it mean that uv islands are ovelapping? If so, it could say that user can find overlapping parts by clicking "Select" -> "Overlapped"

[2020-06-03 10:59] Fak3 opened #131 "Improve "Straighten UV" performance"
System Information

*    OS: Linux
*    Blender version: 2.83
*    Add-on version: Git master

O the file with many vertices, "Straighten UV" takes more than 20 minutes to complete, and in the end it throws an error "All UVs are not sparated"

For example this blend file: https://drive.google.com/file/d/1U2MhaL0f6Ry6SB4c0YYDyIG00xbzk9qf/view?usp=sharing

*  in the uv editor, open N menu, there ope

[2020-06-03 12:01] nutti commented on #131
@Fak3

I will refactor this feature because of many bugs.

Thanks for lots of testing this add-on.
It's very helpful because I didn't use this add-on in the environment with many vertcies.

[2020-06-03 12:24] nutti commented on #129
@Fak3

Oops. This issue comes from #115 .
I forgot fixing this feature.
Thanks. I fixed it and merged to master branch.

[2020-06-03 12:24] #129 closed

[2020-06-04 07:15] koukwst opened #132 "UV unwraping for multiple object"
UV unwrapping support for multiple object selection. I.e. Select some objects and unwrap them together. Since Blender 2.8 users are used to edit multiple objects and unwrap them all at once. This feature will help multiple user who prefer Magic UV, since it is more improved compared to the default methods.

[2020-06-07 09:43] nutti commented on #123
This feature is now merged to master branch.
You can specify **Area Calculation Method** to specify how to calculate area.
For this issue's request, specify **UV Island** or **Face**.

<img width="271" alt="github_20200607" src="https://user-images.githubusercontent.com/1463952/83965411-98f38380-a8ee-11ea-8979-49600f0dcf98.png">

[2020-06-07 09:43] #123 closed

[2020-06-08 07:42] omarM1993 commented on #123
thank you you saved my day!!!!!

Le dim. 7 juin 2020 à 11:43, Nutti <notifications@github.com> a écrit :

[2020-06-10 08:41] nutti commented on #132
@koukwst

Sorry, I misunderstood your request.
I think your request is UVW Mapping, so I will tackle this first.

[2020-06-10 08:53] nutti commented on #132
Now this feature is merged into master branch.

[2020-06-10 08:53] #132 closed

[2020-06-10 09:08] nutti opened #133 "Support Multiple Objects Editing Mode"
Support Multiple Object.

The list of features.

- [x] Copy/Paste  UV (Not support, only output error)
- [x] Transfer UV (Not support, only output error)
- [x] Flip/Rotate UV
- [x] Mirror UV
- [x] Move UV (Not support, only output error)
- [x] World Scale UV
- [x] Preserve UV Aspect
- [x] Texture Lock
- [x] Texture Wrap (Not support, only output error)
- [x] UV Sculpt
- [x] Unwrap Constraint
- [x]

[2020-07-01 03:36] 20209726 opened #134 "Stacking/Packing multiple identical/similar mesh uv islands on a same object"
**System Information**

* OS: [ Windows 7]
* Blender version: [2.83]
* Add-on version: [6.2]

Hi nutti, thank you for the great add-on!  I found some issue while working on packing uv islands. I don't know if this is a bug or should be a new feature.  Pardon me if this have been discussed.  :)

**Expected behavior**
Objective: stacking multiple identical/similar mesh uv islands on a same object.

[2020-07-29 21:57] R-J-Dawson commented on #104
Hi there,

Was this issue ever addressed with Magic-UV? I've been having the same problem myself, no matter what I do (enable/disable sync selection, only edit the UVs of one object/multiple objects, etc), I always get the error "More than 2 UVs must be selected".

Could this be a confliction with another addon?

Kind regards,
-R

[2020-07-31 13:17] MostHostLA opened #135 "Align UV: More then 2 UVs must be selected."
Following exactly this procedure:
https://www.youtube.com/watch?v=BKZX3Xac7X4&t=724s

location: <unknown location>:-1
Error: Traceback (most recent call last):
  File "C:\Program Files\Blender Foundation\Blender 2.83\2.83\scripts\addons\magic_uv\op\align_uv.py", line 597, in execute
    loop_seqs, error = common.get_loop_sequences(bm, uv_layer)
  File "C:\Program Files\Blender Foundation\Blender 2

[2020-07-31 13:23] nutti commented on #135
@MostHostLA

I think this is same as #128 #131 .
`RecursionError` is already fixed and will be released in v6.3.

Now, this is a duplication of #131, I will close this issue.
Could you follow #131 instead?

[2020-07-31 13:23] #135 closed

[2020-08-16 09:36] nutti commented on #124
@DanMcLaughlin

Is there any update about this?
If you have no much time to do this, I will implement this to target v6.4 release.

[2020-08-16 09:38] nutti commented on #77
This issue is related to #133 .

[2020-08-16 12:00] DanMcLaughlin commented on #124
@nutti Really sorry, yes there's little time (nothing new), if I knew you're codebase I'd just grab a morning and bang it out but other higher priority things to learn and do are taking time. If you can do it then probably best, it shouldn't take too much time I hope.

[2020-08-17 00:35] nutti commented on #124
@DanMcLaughlin

Thanks for your reply.
OK, I will implement this.

[2020-08-17 09:05] nutti commented on #133
* Copy/Paste UV
* Transfer UV

Supporting multiple objects to above features are not good because copy/paste UVs among N:M is not deterministic.
Also, we could achieve this process by copy/paste UVs one by one.
Instead, we explicitly output error log.

[2020-08-20 09:09] nutti commented on #133
Supporting multiple objects editing mode in **Move UV** is also not good.
While one object's UV coordinate moves correctly, the other object's UV coordinates will be moved a lot, because the move amount is calculated from the distance between initial and current mouse position.
If one object is far from the other object, the move amount tends to be large value.

[2020-08-21 13:21] MrPositivity opened #136 "Preserve UV dont work in 2.83"
**System Information**

Windows
2.83.4
6.2.0

**Expected behavior**
I assumed that preserver UV should adjust the UV island scale to not be impacted by texture scale, by adjusting aspect ration
I use texture 2048x4096 and was trying to adjust my UV islands to not be affected by this textures aspect ration

**Description about the bug**
when pressing Preserve UV nothing happens.

[2020-08-24 09:37] nutti commented on #133
Supporting multiple objects editing mode in **Preserve UV Aspect** is not possible when more than two selected objects shares same material.
This comes from the material overwrite process in **Preserve UV Aspect**,
If one object is changed to new image, later object will refer changed image.

[2020-09-01 11:02] nutti commented on #133
Supporting multiple objects editing mode in **Texture Wrap** is meaningless in analogy to Copy/Paste UVs.
Refer UV at some object but set UV at different object, will make an undesire results.
We explicitly output error log.

[2020-09-03 09:44] andrelevi commented on #104
Hello, I'm running into this same issue on Blender 2.83.4, not using any other sort of add-on that might be conflicting. Anyone find a solution?

[2020-09-08 12:44] nutti commented on #77
This feature is now merged into master branch.

[2020-09-08 12:44] #77 closed

[2020-09-16 10:19] nutti commented on #134
@20209726

Sorry for very late reply. I have been working on other project.
And thanks for your feedback with deep inspection.

At first, I try to check first one.

I'm curious this behavior,
Multiple objects editing mode is not supported now (I'm just tackling to support this).
Could you explain more detail about it.

[2020-09-16 12:17] 20209726 commented on #134
Hi nutti,  thank you for checking back on the issue!
I haven't been getting in the same task lately. But as I remember, the first one is like described in the post: (ex: marked seams for all edges of a cube, made 6 island squares, not stacking when PACK UV)
Meaning when I tried to Pack UV of a cube, I want to stack all 6 face UVs of the cube.  So I marked seams for all 12 edges of the cube, then a

[2020-09-17 10:26] nutti commented on #134
@20209726

Thanks for your explanation.
I recently try to improve Pack UV, and I found that same but separated island will not be overlapped.
So, I start to try adding a new option which realizes your intention.
If you still use this add-on, I would like to receive your feedback.

[2020-09-17 13:43] 20209726 commented on #134
That's great!  Appreciate!  I will definitely let you know if I use it again.

[2020-09-19 08:55] nutti commented on #133
Support multiple objects editing mode for all features.
So, close this issue.

[2020-09-19 08:55] #133 closed

[2020-09-23 09:41] nutti commented on #124
@DanMcLaughlin

Hi, I implemented this feature.
Could you check if implemented feature is that you assumed.
https://github.com/nutti/Magic-UV/suites/1232737792/artifacts/18575051

![github_20200923](https://user-images.githubusercontent.com/1463952/93995145-9a788700-fdcb-11ea-904a-12dac77b7a94.png)

[2020-09-23 13:15] DanMcLaughlin commented on #124
Great work! Unfortunately I can't see the option. I updated to the version you link above but it's not in Align UV, I also tried latest 6.3 and the development branch latest (update from the UV Preferences), oddly it's not showing up

[2020-09-23 13:24] nutti commented on #124
@DanMcLaughlin

Thanks for your reply.
How about below links?
https://github.com/nutti/Magic-UV/archive/ci_testing.zip

This feature is not released officially, so we can use this at develop branch.
After this feature is implemented, I will release v6.4 which includes this feature.

[2020-09-23 13:37] DanMcLaughlin commented on #124
This is really weird, still not there. I installed that version you link, Blender says it installs the modules fine, the version string is 6.2 and nothing.

![image](https://user-images.githubusercontent.com/4943582/94019918-299f8380-fd67-11ea-94d8-b55bca1eff8e.png)

[2020-09-23 13:41] nutti commented on #124
@DanMcLaughlin

Did you remove built-in add-on?
Magic UV is included in Blender officially, so you need to remove built-in Magic UV add-on.

[2020-09-23 13:55] DanMcLaughlin commented on #124
I updated in place, but this time I went to the Blender add on folders and deleted magic_uv (is there a better way? Not that I saw), but this time installing the last version you sent is says "Missing script files" in the Add-ons list. Hunh, not sure what to do here, this should be a simple operation.

[2020-09-24 03:56] nutti commented on #124
@DanMcLaughlin

I did a following process.

1. Make sure built-in Magic UV add-on and external Magic UV add-on
2. Install Magic UV from zip file (in Blender).
3. Enable Magic UV add-on.

Or, you can use updator of Magic UV from Blender Preferences.
(Choose develop branch)

![github_20200924](https://user-images.githubusercontent.com/1463952/94099185-4b7f3000-fe65-11ea-95e7-a24c82d0b2ae.png)

[2020-09-24 12:52] DanMcLaughlin commented on #124
OK, the development branch update worked!

Yes this is great, works as I expected. At first it was in a mode that it snapped and overlaid all of the islands and I was wondering how to individually snap them over, or a group. After playing with UV sync and other settings it started to snap individually or whatever is selected. Anyhow it seems to work perfectly, great work!

[2020-09-24 13:05] nutti commented on #124
@DanMcLaughlin

Thanks for trying this feature!
Do you have any improvements of this feature?
If not, I will tackle to release v6.4 which includes this feature.

[2020-09-24 13:42] DanMcLaughlin commented on #124
I really like the 'Snap Group" addition, though for games I think UV Island is the most common choice. The workflow that constantly comes up over and over for this kind of low poly hard surface workflow is

1. Find common areas where UV space can be reused
2. Select that area, "Smart UV Project" works much of the time
3. That area fills the UV space, and is often flipped (reversed) so needs to be

[2020-09-25 11:50] DanMcLaughlin commented on #124
Had to think through this a couple of times ... yes I see your design, select two verticies which are intended to be either coincident (snapped on top of each other) or co-linear (snap then slide), in their respective islands. Only the island is moving. Yes that will work wonderfully.

[2020-09-25 12:05] nutti commented on #124
Thanks for your feedback.
I'll implement this option.

[2020-09-25 15:59] DanMcLaughlin commented on #124
Beautiful. This is a very powerful feature for packing the UV's to save space, and when you want sections to align on a texture.

[2020-09-26 07:08] nutti commented on #124
@DanMcLaughlin

Added target option. (It has already in develop branch)

![github_20200926](https://user-images.githubusercontent.com/1463952/94333681-5f1bc980-0012-11eb-8ff4-00998eed22c1.png)

Could you try this?

[2020-09-26 11:48] DanMcLaughlin commented on #124
Video commentary
[https://youtu.be/Y6AjiIHyJn4](url)

https://youtu.be/Y6AjiIHyJn4

[2020-09-26 12:30] nutti commented on #124
I could not hear your description (volume is low?)
But I figured out what you want to say from your instructions.

This version, UV vertices move along to the center of face/island.
But, you want to move island not only center but also corners of face/island (i.e. left-bottom, right-bottom, etc...)
Is my understanding correct?

[2020-09-26 12:47] DanMcLaughlin commented on #124
Sorry, don't know what happened.

Yes snapping the center of an island to a vertex of another island isn't something that's come up because you get partial overlap. In practice what's needed is either 100 overlap (center to center) or edge snap non overlap - meaning snap one edge to another, so two arbitrary islands are side by side. Seems like the best way to do that would be to select a vertex a

[2020-09-26 13:41] nutti commented on #124
I think you didn't select face in View3D.
I'm not sure which is a better whether face selection is needed or not.
Do you have any idea?

Currently, snap coordinate is average of selected vertices.
Instead you can set snap coordinate by selecting only one vertex.
But I think this makes you confused.
Is there any good idea about this process?

[2020-09-26 14:33] DanMcLaughlin commented on #124
OK, what's confusing is that setting the snap coordinates only fully works when "UV Sync Selection" is turned off. I usually work with it turned on, as that's much more convenient than having to keep everything selected. If the coordinate setting can always work when "UV Sync Selection" is enabled that would fix the confusion.

Now I'm still not able to get the "edge to edge" selection. Take a loo

[2020-09-27 00:58] nutti commented on #124
Thanks for your feedback.
I agree with you, so I will consider when UV Sync Selection is on.

I understood your issue.
But currently, this feature is not implemented.

I think we should separate original feature (face to face) from the new feature (edge to edge).
The process seems different each other.

But I'm not sure how to realize "edge to edge" feature when the edges are different rotation ea

[2020-09-27 12:19] DanMcLaughlin commented on #124
"I think we should separate original feature (face to face) from the new feature (edge to edge).
But I'm not sure how to realize "edge to edge" feature when the edges are different rotation each other."

Rotation is a different issue, and an equal problem for both cases. I think you have to assume the user has the proper rotation already for the islands, and that's easy enough to fix with the norm

[2020-09-28 10:47] nutti commented on #124
Thanks for your feedback.
I will try to implement this feature. If I finish the implementation, it is helpful to test them :-)

[2020-09-28 16:42] DanMcLaughlin commented on #124
Absolutely I'll support any way I can.

[2020-10-07 12:32] nutti commented on #124
@DanMcLaughlin

Sorry for late reply.
I implemented **Snap to Edge** feature.
It's now in develop branch.

![github_20201007](https://user-images.githubusercontent.com/1463952/95331038-5bc2f080-08e4-11eb-89b0-eb081d0692a3.png)

1. At first, you need to select edge which snap to, and click button (green box).
2. Select edge which will be snapped, and click **Snap to Edge** button (yellow box).

[2020-10-07 13:36] DanMcLaughlin commented on #124
@nutti

- Wonderful! Yes this turns it into a snapping lego set, the edge to edge works great.
- Point to point isn't working for me. I select one point, hit the point or cursor icon to set the location, select another point then "Snap to Point", no error but nothing happens, changing the group doesn't matter
![image](https://user-images.githubusercontent.com/4943582/95337676-f54bbd00-0866-11eb-97

[2020-10-08 11:16] nutti commented on #124
@DanMcLaughlin

Thanks for your feedback.
I missed the understanding of the specification of Sync Selection in Python API.
So, it will work correctly for "Snap to Point" in current version (develop branch.)

However, it is difficult to realize Sync Selection feature for "Snap to Edge" feature.
Because if we select one edge, another edge will be selected automatically.

Below sample shows the simpl

[2020-10-08 12:45] DanMcLaughlin commented on #124
Yeah that's a problem, I guess it's there to show you what edges are mesh connected. I don't know ... just leave it though I guess, the functionality is clear, and otherwise it seems to be working well, with one exception.

Go into Snap to Point, select your Point, select another Vertex, select Face or Island group and snap - this isn't working. If you select Vertex mode it does work (so Vertex->V

[2020-10-08 13:00] nutti commented on #124
Did you select face/island which will be snapped?
If you don't select all vertices of face/island, nothing will be happened.

Or, is it better to select only vertex of face/island instead of whole vertices of face/island?

[2020-10-08 13:09] DanMcLaughlin commented on #124
Ah I see, yes that snaps the center of the island. That is fine, but also supporting that if you have only a single vertex selected (in Face/Island group mode) then it snaps the entire face/island, vertex to vertex.

This would be equivalent to edge snapping if the two edges are equal size, but this particular feature would be useful for when you want precise edge snapping to a vertex point on tha

[2020-10-08 14:03] nutti commented on #124
That's right.

1. "Snap to Point" & Group="Vertex": All selected vertices will snap to target point.
2. "Snap to Point" & Group="Face": Center of all selected faces will snap to target point.
3. "Snap to Point" & Group="UV Island": Center of all selected islands will snap to target point.
4. "Snap to Edge" & Group="Edge": Selected edge, will snap to center of target edge.
5. "Snap to Edge" & Group

[2020-10-08 14:26] DanMcLaughlin commented on #124
OK, yeah there are a few extra cases that could be done, but if you're done with the features and are only concerned with UI then in this example

I'd vote for supporting that type of snap, but for the present features set posting warnings when the user hasn't properly selected the Face/Island would clear up the confusion and make it clear that the feature isn't supported.

[2020-10-09 06:43] nutti commented on #124
Thanks for your feedback.

I agree that its feedback is important for the users.
I will tackle it.

[2020-10-09 07:07] nutti commented on #124
@DanMcLaughlin

I finished to add logs you requested.
If this feature does not have any other issue from your workflow, I will prepare for releasing v6.4.

[2020-10-09 18:32] MatthiasThDs opened #137 "call operator from Python Scripts"
Hi,

I really love your addon. I use it for a long time :) In fact I am writing Python scripts for my company to speed up the modelling process. Kinda like procedural modelling. Therefore UV Magic and especially bpy.ops.uv.muv_uvw_box_map() would be key to make it all work.

But, it seems that your script is not callable from a Python script? What would it take to enable that feature?

The poll op

[2020-10-09 23:41] DanMcLaughlin commented on #124
Looks great @nutti, thanks so much for your hard work

[2020-10-10 01:52] nutti commented on #137
@MatthiasThDs

Thanks for your feedback!

I think you didn't satisfy the context to execute this operation.
https://github.com/nutti/Magic-UV/blob/91b575b3dadfd595ef409b777c06b7aef969f5c3/src/magic_uv/op/uvw.py#L43-L59

What is your context you try to execute?

[2020-10-10 01:53] nutti commented on #124
I will tackle to release v6.4.
Thanks for your great help!

[2020-10-11 10:15] MatthiasThDs commented on #137
Hi,
I think my context should be right. Just in the "Layout" workspace in Editmode.
I also have an issue using one of your functions in the console:

![image](https://user-images.githubusercontent.com/50454126/95676011-71be0300-0bbb-11eb-9567-6718a9d67de8.png)

[2020-10-11 11:18] nutti commented on #137
OK, I understood the issue.

[code]

I think current context.area is `CONSOLE`.
Currently, all features of Magic UV must be executed from `VIEW_3D`.
Do you want to execute this feature from other areas?

[2020-10-11 13:12] MatthiasThDs commented on #137
Yes. I would like to run the functions in a Python Script, which sadly don't have View_3D as current context.

[2020-10-12 11:24] nutti commented on #137
@MatthiasThDs

I think all things we have to do with is deleting below checks.
Other checks are still needed to prevent from the execution in unexpected condition.

[code]

What do you think?

[2020-10-13 08:04] MatthiasThDs commented on #137
Yes I agree.
That would be nice.

[2020-10-13 10:29] nutti commented on #137
@MatthiasThDs

`bpy.context.screen.areas` looks better to me.

BTW, are you interested in contributing to this project about this?
I think all we have to do is change `context.area.spaces`  to like ` for area in context.screen.areas: for area.spaces:`.
I'm now tackling to other issue before releasing v6.4.
So, I will accept your change if you want.

[2020-10-14 15:31] MatthiasThDs commented on #137
@nutti
Yes, i can try to work my way into this github. Never did before, so give me some days.

[2020-10-14 21:29] nutti commented on #137
@MatthiasThDs

Awesome!
I will wait your work.
If you have any trouble to complete this work, please feel free to tell me.

[2020-10-17 13:21] kingsushi001 opened #139 "Real world scale not working as expected"
**System Information**

* OS: Windows 10
* Blender version: 2.82a
* Add-on version: 6.2

For the past few weeks I’ve been messing around with Magic UV and real world UV scales. Everything was working great until 2 or 3 days ago. It seems that applying the scale density to the “loop” mesh doesn’t work as expected, well, the scaling is off.

In the image below you can see the X Dimension is 108mm.
!

[2020-10-17 13:45] nutti commented on #139
@kingsushi001

I need more information to check this issue.
Could you give me your more information?

* What feature of Magic UV, did you use?
* What procedure did you try?
* What is your expected result after using this process?

Especially, I want to the expected result and real result.

[2020-10-17 18:16] kingsushi001 commented on #139
Hi @nutti

Thanks for the reply

I'm using the "World Scale UV" feature. I've uploaded a video to youtube showing exactly how I use it:
https://youtu.be/tToaTW_n3hk

Now, when using it the way I did in the video it works perfectly with a cube, cone etc etc. When trying to use it on a weirdly shaped mesh, it gives me the wrong dimensions. For Instance below is a cube showing the dimensions in both

[2020-10-18 00:16] nutti commented on #139
@kingsushi001

I think this comes from the calculation method.
Until v6.3 is released, the mesh size is decided by the whole mesh.

From v6.3, **Area Calculation Method** option is introduced.
https://github.com/nutti/Magic-UV/issues/123#issuecomment-640186679

Could you update and try this option?

[2020-10-18 15:16] kingsushi001 commented on #139
Hi again @nutti

I have tried v6.3, unfortunately the UV scale for the "loop" mesh is even worse now, it's much bigger than it's supposed to be when using UV Island or Face as area calculation.

[2020-10-19 11:24] #137 closed

[2020-10-20 10:13] nutti commented on #124
This feature is now merged to master branch.
I will close this issue.

[2020-10-20 10:13] #124 closed

[2020-10-20 14:53] kingsushi001 commented on #139
@nutti

Ok, after further testing, seems that only some of the faces on the "loop" mesh's UV are scaled correctly. Some are still too big and then another way too big. If you need another image or video showing what's wrong, just ask and I'll happily provide one.

[2020-10-21 07:22] nutti commented on #139
@kingsushi001

Thanks for your investigation! It helps me a lot.
I will check the issue by using your blend file.
But I'm tackling to release v6.4, so I want to tackling this issue after releasing v6.4.

[2020-10-21 14:01] kingsushi001 commented on #139
@nutti

It's my pleasure. I really like your add-on.
Do you have any idea or guesstimate on when v6.4 will be released?

[2020-10-22 13:19] nutti commented on #139
@kingsushi001

Maybe, release will be done in this weekend.
I added this task for v6.5.

[2020-10-23 15:44] MatthiasThDs opened #140 "Force Z Axis"
Hi Nutti,

I hope you are doing great. Thanks again for your work on that great Addon!

I wanted to ask if you are interested in the following idea. My building **roofs** are working as expected, when I apply uvw_box and the **roof faces** have a face normal pointing sideways (more than 45 degrees):
![image](https://user-images.githubusercontent.com/50454126/97024016-92d90900-1556-11eb-8cd0-98e8b2

[2020-10-24 04:54] nutti commented on #140
@MatthiasThDs

Thanks for your continuous contribution for this add-on.
This feature is also interesting.

I have comments about this addition.

* We could expand not only force_z, but also force_x/force_y (perhaps, force_xy is useful?)
* The threshold angle to enable flat mode can be an option.

What do you think?
And, the contribution of this feature is also welcomed.

Thanks!

[2020-10-24 08:45] nutti commented on #139
@kingsushi001

Hi, I'm tackling this issue now.
But I'm not sure how to calculate UV size described in https://github.com/nutti/Magic-UV/issues/139#issuecomment-711060041.
Could you give me suggestions to check this.

[2020-10-24 09:17] nutti commented on #139
||Mesh Size|UV Size|Density|
|---|---|---|---|
|Square|0.00250|349141.2211519317|11808.660362703222|
|Loop Mesh?|0.00917|581661.196618416|7962.528584454752|

Texture density is calculated from mesh size.
So, UV Size will be `(11808 / 7962) = 1.48` times of original.

[2020-10-24 15:02] kingsushi001 commented on #139
Hi @nutti

Sorry to keep you waiting. Busy day.

I have prepared a new blend file for you. I think I know why it's calculating it all wrong.
[help_02.zip](https://github.com/nutti/Magic-UV/files/5433034/help_02.zip)

I have left notes on the UV texture as well. After messing around with it again, I noticed that when I use the Decimate (Planar)
modifier on the mesh, that's when it calculates it all

[2020-10-25 09:24] nutti commented on #139
@kingsushi001

Thanks for your answer.

Great inspection!
I think this is a very important clue.

I measured the mesh/UV size to green/red object, and found that measured sizes does not match each other.

||Mesh Size|UV Size|Density|
|---|---|---|---|
|Triangled|0.004|557827|11811|
|N-polygon|0.00780|584533|8656|

I'll check deeper why this mismatch is raised.

[2020-10-25 09:45] nutti commented on #139
Yeah, I got the reason.
The calculation of mesh size for n-gon is not correct.

[2020-10-25 12:20] nutti commented on #139
@kingsushi001

BTW, do you want to support N-gon for this feature?
Current version does not support more than 5-gon polygon.

As you know, the workaround of this issue is to use only triangle polygon or quad polygon.

[2020-10-25 13:39] kingsushi001 commented on #139
@nutti

I think having n-gon support would future proof the add on. Because someone is bound to ask for it eventually.

[2020-10-26 10:28] nutti commented on #139
OK, I will try to support this.
But it takes time to do this because I'm not sure how to calculate the area of n-gon.

[2020-10-27 10:24] kingsushi001 commented on #139
It's all good. Take your time. I won't be near a PC until next week sometime. Having my GPU replaced.

[2020-10-27 11:14] nutti commented on #139
@kingsushi001

Hi, I found the easy way to fix this.
Could you try below one?

https://github.com/nutti/Magic-UV/archive/issue_139.zip

If this version fixes your problem, I will merge this to master branch.

[2020-10-28 11:08] nutti commented on #136
@MrPositivity

Sorry for the late response.
I think you misunderstood the effect of **Preserve UV Aspect**.

**Preserve UV Aspect** changes the UV ratio without changing the appearance of mesh in View3D.
This is a main purpose of this feature.
If you don't want to change UV ratio, you should change the image directly.

I will close this issue for now.
If you have any questions/issues about **Prese

[2020-10-28 11:08] #136 closed

[2020-10-31 09:31] nutti commented on #76
This feature is now supported.

[2020-10-31 09:31] #76 closed

[2020-11-02 02:56] nutti commented on #140
@MatthiasThDs

Is there any update?
I think this improvement is great for including next version.

[2020-11-02 03:38] nutti commented on #75
Many features of Toggle UV Selection are already included in Blender.
And, some features are use for the specific use case (e.g. lock_transform).
So, we will include only **Selected Zoom** feature to Magic UV.

[2020-11-02 08:42] MatthiasThDs commented on #140
Hi nutti,

would it be ok if i make a pull request for "forcing z" first and you take a look at it?
Because this I can do pretty fast.

Both of your additional ideas sounds great. But I think they need some testing and try and error (thats how I did the force Z :) )

[2020-11-02 09:11] nutti commented on #140
@MatthiasThDs

Sure, go ahead!
We could test your feature in PR.

[2020-11-03 05:38] nutti commented on #75
This feature is now supported.

[2020-11-03 05:38] #75 closed

[2020-11-03 05:39] nutti commented on #139
@kingsushi001

Is there any update for this issue?

[2020-11-03 11:54] kingsushi001 commented on #139
Sorry @nutti Not yet. I should have the new GPU at latest next week Tuesday.
I will do thorough testing and get back to you.

Again, sorry for the wait.

[2020-11-05 12:40] nutti commented on #139
@kingsushi001

Don't worry. Hope this fixed version work correctly on your environment.

[2020-11-09 21:18] kingsushi001 commented on #139
Hi @nutti

I received my new GPU, so I can continue testing your add-on again.

I downloaded this file https://github.com/nutti/Magic-UV/archive/issue_139.zip
Unfortunately I have no idea what to do with it. Where should I be extracting it to?

[2020-11-10 03:55] nutti commented on #139
@kingsushi001

Sorry for lack of explanation.

Could you follow the installation process as followes?
https://github.com/nutti/Magic-UV/blob/master/docs/installation.md#2-unzip-it-and-check-the-add-on-sources

Thanks

[2020-11-10 11:59] kingsushi001 commented on #139
@nutti

Whoop! Everything seems to be working 100% now!

[2020-11-10 12:13] nutti commented on #139
@kingsushi001

Thanks for your quick action!
If you don't have any issue, I will merge to the master branch.
Does fixed version meet your requirement?

[2020-11-10 12:17] kingsushi001 commented on #139
Yes, it does meet my expectations and is working great now. Thank you very much @nutti

[2020-11-11 07:39] nutti commented on #139
Merged the patch to master branch.

Thanks for your cooperation @kingsushi001

[2020-11-11 07:39] #139 closed

[2020-11-11 13:22] mifth opened #141 "Select Overlapped UVs Issue"
**System Information**

* OS: Windows
* Blender version: 2.91
* Add-on version: 6.2

**Expected behavior**
Select ok.

**Description about the bug**
Hello, I've found an issue in selecting overlapped UVs. Only some polygons were selected.

**Screenshots/Files** [Optional]
[tmp1.zip](https://github.com/nutti/Magic-UV/files/5524180/tmp1.zip)

![image](https://user-images.githubusercontent.com/225129

[2020-11-13 09:58] nutti commented on #141
@mifth

Thanks for your feedback.
I fixed it by introducing the threshold.

https://github.com/nutti/Magic-UV/archive/issue_141.zip

Could you try this one?
If this problem still exists, you can change **Same Polygon Threshold** option.

![github_20201113](https://user-images.githubusercontent.com/1463952/99059595-2647ac00-25e2-11eb-93bc-044662ece386.png)

[2020-11-13 11:29] mifth commented on #141
Hello @nutti !
Strange, I cannot install the addon you linked.
![image](https://user-images.githubusercontent.com/2251298/99067906-8fb4c400-25bc-11eb-9403-6f8ab6f43cbe.png)

[2020-11-13 11:29] mifth commented on #141
I have blender 2.90, Windows

[2020-11-13 11:35] mifth commented on #141
I tested 6.4.0. Works ok at the same machine.

[2020-11-13 12:14] nutti commented on #141
@mifth

It's strange.
Did you follow the installation process?
I think add-on folder is a bit complicated for non-release zip file.

[2020-11-13 23:16] areeseofcake commented on #99
Heck I am running into this issue. No solution on the horizon right now?
![image](https://user-images.githubusercontent.com/74338049/99129719-f98c9800-25d3-11eb-872e-748439df742d.png)
![image](https://user-images.githubusercontent.com/74338049/99129731-fe514c00-25d3-11eb-8a9b-cdff55949e02.png)

[2020-11-14 01:04] nutti commented on #141
@mifth

Sorry, the document for **unstable** version is missing there.
I fixed the document now.
Could you try to follow the tutorial of **unstable** version by using [issue_141.zpi](https://github.com/nutti/Magic-UV/archive/issue_141.zip) instead of **unstable** version.

[2020-11-15 08:48] mifth commented on #141
@nutty

Alright, I downloaded from [here ](https://github.com/nutti/Magic-UV/tree/issue_141) and installed the addon. It looks like it works ok now. Good job! Thank you a lot. I'm closing the issue.

![image](https://user-images.githubusercontent.com/2251298/99180555-37a2cc80-2738-11eb-889c-b5abcf64ec96.png)

[2020-11-15 08:48] #141 closed

[2020-11-15 10:57] nutti commented on #141
@mifth

Thanks.
I merged fixed patch to master branch.

[2020-11-16 10:45] nutti commented on #140
@MatthiasThDs

Hi, is there any update about this?

[2020-11-17 00:45] smarchevsky opened #142 "RecursionError any button, I press"
**System Information**
  Traceback (most recent call last):
  File "C:\Program Files\Blender Foundation\Blender 2.90\2.90\scripts\addons\magic_uv\op\align_uv.py", line 390, in execute
    loop_seqs, error = common.get_loop_sequences(bm, uv_layer, True)
  File "C:\Program Files\Blender Foundation\Blender 2.90\2.90\scripts\addons\magic_uv\common.py", line 780, in get_loop_sequences
    isl_info = ge

[2020-11-17 06:45] nutti commented on #142
@smarchevsky

Hi,
This error is already fixed in v6.3.
If you don't use another version, please reopen this issue.

https://github.com/nutti/Magic-UV/issues/128

[2020-11-17 06:45] #142 closed

[2020-12-20 08:26] nutti commented on #140
@MatthiasThDs

Any update?
If you have no time to tackle this issue, I will consider to tackle this issue.

[2020-12-20 09:08] nutti commented on #134
This issue is now fixed by expanding the configurable ranges of the options **Allowable Center Deviation** and **Allowable Size Deviation**.
I think setting a large value (e.g. 10.0) on **Allowable Center Deviation** enables you to merge separated islands.
In addition, you can merge size different islands if you set a large value to the option *Allowable Size Deviation*.

[2020-12-21 08:15] nutti commented on #134
And also found a BUG?: When selecting source face, if I use box select, it gives NO FACE SELECTED warning. If I selected a face, and select linked by material/seams, it shows only selected 1 face. Seems the selecting only recorded the mouse clicking selection of faces one by one. This could be a lot of work while working with a big mesh.

Yes, this is a specification of Copy/Paste UV feature.
Blen

[2020-12-22 08:47] nutti commented on #134
@20209726

I think we should not support normal axis in this feature.
After my investigation, the calculation of normal transform orientation may depend on the internal logic of Blender.
So, we can easily break the feature in future Blender version.

[2020-12-26 08:41] nutti commented on #134
The main issue seems that the mirror UV does not work correctly when the transform orientation is global/world.

[2020-12-30 09:21] nutti commented on #134
Added 'Origin' option to Mirror UV.

All issues are now fixed. So, I'll close this issue.

[2020-12-30 09:21] #134 closed

[2021-01-06 15:08] mifth opened #143 "(UVs) Flip and Overlap Inspection in 3d"
Hi.
Is it possible to add Flip and Overlap Inspection in 3d? It would be cool.

![image](https://user-images.githubusercontent.com/2251298/103783740-27c5ab80-504a-11eb-9d9b-f16304e64d03.png)

[2021-01-07 07:51] nutti commented on #143
@mifth

I think it is possible.
Which idea do you want to introduce to the add-on?

* Paint color on the mesh as well as **UV Inspection**
* Select the overlapped/flipped faces as well as **Select UV**

[2021-01-07 08:31] mifth commented on #143
It would be super useful! I think color on the mesh as well as UV Inspection would be nice. In this case it would be possible to deselect all and make some changes in 3d while all colors will be seen.

[2021-01-08 13:24] 20209726 commented on #134
Thank you soo much for fixing this!  I can't wait to try it with next project!
Appreciated for all the good work!

[2021-01-08 17:51] zimmerer-SF opened #144 "Magic UV crash"
When I use Smart UV Project one out of 10 time it crashes Blender.  Attached is the crash text.
[tudor_house_1.crash.txt](https://github.com/nutti/Magic-UV/files/5788683/tudor_house_1.crash.txt)

[2021-01-09 05:05] nutti commented on #144
Smart UV project is not the part of Magic UV.

Please redirect to Blender bug tracker system.
https://developer.blender.org/

[2021-01-09 05:05] #144 closed

[2021-01-09 05:07] nutti commented on #143
OK, I try to add this feature.
But I need a time because I already have other tasks.

[2021-01-09 11:53] mifth commented on #143
No worries. Thank you a lot!

[2021-01-11 08:53] nutti commented on #140
@MatthiasThDs

I tried to support this feature X-axis and Y-axis as well.
https://github.com/nutti/Magic-UV/tree/issue_140

But, I found that your patch could not solve well in X-axis and Y-axis.
If you have a good idea, please let me know.

If there is no solution, I want to postpone this feature because this feature only targets to specific use-case.

[2021-01-12 20:12] kingsushi001 opened #145 "Weird bug when trying to measure scaling density"
**System Information**

* OS: Windows 10
* Blender version: 2.91.0
* Add-on version: 6.4.0

Hi

I am getting the following error when trying to measure the scaling density of a plane. I'm not sure why this is happening as I've used this specific feature dozens of times without any problems

Error:
[code]

I will mess around some more and try to figure out why this is happening all of a sudden.

[2021-02-02 08:38] nutti commented on #140
I also introduce `force_axis_tex_aspect_correction` option and `force_axis_rotation` option to handle the mapping with flexibly.
I think these options help us to use UVW mapping in addition to `force_axis` option.

This feature is now merged to master branch.
So, I will close this.

[2021-02-02 08:38] #140 closed

[2021-02-03 08:07] nutti commented on #145
@kingsushi001

Sorry for late response.

I could not reproduce this error.
Is it possible to send me a .blend file which encounters this issue?

[2021-02-05 08:16] nutti commented on #145
I found that this error will be raised when the items of EnumProperty are deleted.
I have already applied the workarounds for this issue.
So, I will close this issue.

[2021-02-05 08:16] #145 closed

[2021-02-06 08:19] nutti commented on #143
Sorry for late response.
I will tackle this issue from now.

At first, I will add the above feature.

[2021-02-06 08:49] mifth commented on #143
No worries. Thank you a lot. This feature will be very useful.

[2021-02-07 08:50] nutti commented on #143
This one is now merged into master branch.
The **Selection Method** option and **Sync Mesh Selection** option are added to specify how to select the faces.

I will tackle next one.

I think this feature needs to be reviewed before merging into master branch.

[2021-02-08 09:33] mifth commented on #143
I have rested. Works nice! You have added a checkbox.

[2021-02-11 16:55] Ronald-MannMade commented on #118
this seems to still be happening with addon version 6.4 , Blender 2.9.2

[2021-02-15 08:16] nutti commented on #143
@mifth

I have finished to implement this feature.
Could you try it before merging this feature to the master branch?
https://github.com/nutti/Magic-UV/archive/issue_143.zip

I introduced `Display View3D` option to display overlapped/flipped faces in View3D.

[2021-02-15 11:06] mifth commented on #143
Hi @nutti

Awesome! Some things I would check:
- set "Display View3D" True by default.
- I would rename "Display View3D" to "3D"
- I would change polygons transparency to 0.5 just like in UV viewport.
- There is flickering with polygons and red polygons. I tried to play with the code but was not able to change anything as polygons are drawn in 2d.

![image](https://user-images.githubusercontent.co

[2021-02-15 11:07] mifth commented on #143
[tmp3.zip](https://github.com/nutti/Magic-UV/files/5981150/tmp3.zip)

Here is a model to play with.

[2021-02-15 11:08] mifth commented on #143
Also I could not set bgl.glDisable(bgl.GL_DEPTH_TEST) as polygons are drawn in 2d.

[2021-02-16 08:03] nutti commented on #143
Thanks for your feedback!
I applied your requests.

This is because the compatibility module does not support these API.
I added these API now, so you can try them now :)

[2021-02-18 12:03] mifth commented on #143
Sorry, I could not handle your code. I had some errors. But I have found an example where is no flickering of polygons. Just press play in my scene.

![image](https://user-images.githubusercontent.com/2251298/108354289-4cd93c80-71fa-11eb-93f5-a30cff2f3d1c.png)

[tmp2.zip](https://github.com/nutti/Magic-UV/files/6002591/tmp2.zip)

[2021-02-19 08:31] nutti commented on #143
@mifth

Thanks for the reference code.
I applied this code to the ad-on and works fine for me.
Could you try the add-on again.
https://github.com/nutti/Magic-UV/archive/issue_143.zip

The flicking issue comes from the procedures to do occlusion culling manually.
I hope the current code works for your environment.

[2021-02-19 09:28] mifth commented on #143
@nutti
Awesome! All looks amazing! Thank you a lot.

![image](https://user-images.githubusercontent.com/2251298/108485460-faf1ee80-72ad-11eb-8cb9-26472a1084e3.png)

[2021-02-19 12:13] nutti commented on #143
@mifth

Thanks for your feedback and help.
I will merge this feature soon.

[2021-02-19 13:19] mifth commented on #143
Thank you too. Awesome tools!

[2021-02-20 08:53] nutti commented on #143
This feature is now merged to master branch.
Thanks for your help @mifth .

[2021-02-20 08:53] #143 closed

[2021-03-04 09:50] mifth opened #146 "UV Overlapping issue."
Hi Nutty!

I have found one issue with overlapping. If UV is overlapped but also flipped it will not be considered as overlapped. I attached my blend file.
[tmp1.zip](https://github.com/nutti/Magic-UV/files/6082476/tmp1.zip)

![image](https://user-images.githubusercontent.com/2251298/109945195-0ef31280-7ce8-11eb-844c-0fd0a8a1ee38.png)
![image](https://user-images.githubusercontent.com/2251298/1099

[2021-03-04 21:29] yourherobby opened #147 "doesnt work in 2.93"
it doesnt work in 2.93, go to object copy/paste uv and list of uv is empty. also plenty of error !

[2021-03-05 08:20] nutti commented on #147
@yourherobby

Could you give me the error log?
I think this relates to https://github.com/nutti/Screencast-Keys/issues/45

[2021-03-05 08:23] nutti commented on #146
Thanks.
But, I need a time to fix this because of the critical error on Blender 2.93.

[2021-03-05 08:24] mifth commented on #146
No worries. There is nu hurry.

[2021-03-05 08:55] nutti commented on #147
I found that this is a same issue as I wrote above.
This bug is now fixed.

[2021-03-05 08:55] #147 closed

[2021-03-09 09:08] nutti commented on #146
@mifth

I'm now trying to find the reason, but I could not reproduce this with a simple case (one rect polygon is flipped, another rect polygon is not flipped).
Is there any simple case you encountered this issue?

[2021-03-09 09:19] nutti commented on #146
Perhaps, the issue comes from not flipping but rotation.
I can reproduce this issue by using rotated UV.

[2021-03-10 08:28] nutti commented on #146
I found this issue is raised when the UVs are in same islands.
Maybe, we can solve this issue by checking the overlapped UVs intra-UVisland as well as inter-UVisland.

[2021-03-10 08:40] mifth commented on #146
@nutty
Apologies for late reply. Here is my simple test. I attached my blend file.

[tmp1.zip](https://github.com/nutti/Magic-UV/files/6114428/tmp1.zip)

In this situation I suppose all these faces should be considered as overlapped.
![image](https://user-images.githubusercontent.com/2251298/110600735-515b9a00-8195-11eb-97b9-f4ce4e48e3b8.png)

I flipped only these faces:
![image](https://user-imag

[2021-03-10 09:38] mifth commented on #146
@nutty Thank you.
Thank you a lot! Works fine on this example.

I opened the first model and found some issues:
1)
Could I ask to increase default value?
![image](https://user-images.githubusercontent.com/2251298/110608489-5a506980-819d-11eb-85a5-d1f21958aeb7.png)
![image](https://user-images.githubusercontent.com/2251298/110608511-5e7c8700-819d-11eb-988d-31d6700f53a9.png)

2)
I have found this fa

[2021-03-10 12:53] nutti commented on #146
@mifth

Yeah, it is possible to increase default value.

Hmm, it is difficult to fix this.
It seems a small computational error in below code.
https://github.com/nutti/Magic-UV/blob/156b0aac98191fde2c96f9dd2ed1bafc3f8ba39d/src/magic_uv/common.py#L1202-L1214
I use a ray casting algorithm in here.
https://en.wikipedia.org/wiki/Point_in_polygon
If the UV coordinates are same, point will be in the pol

[2021-03-10 13:40] mifth commented on #146
Aaa, understood.

What if to check if a polygon center is in UV Shell?
UV shells could be taken from bpy_extras.mesh_utils.mesh_linked_uv_islands(obj.data)
https://docs.blender.org/api/current/bpy_extras.mesh_utils.html?highlight=island#bpy_extras.mesh_utils.mesh_linked_uv_islands

![image](https://user-images.githubusercontent.com/2251298/110637950-048cb900-81bf-11eb-8a76-7dcd55bbf3c9.png)

[2021-03-10 13:48] mifth commented on #146
Or checking if a polygon center is a polygon?

[2021-03-10 23:55] gohde opened #148 "Align UV Cursor Behaviour Issues"
Tested on Blender 2.92.0, install via preferences.
Windows 10 64-bit. amd cpu, nvidia graphics

Magic UV > Editor Enhancement > Align UV Cursor

Firstly it seems that "UV" and "UV (Selected)" seems to swapped in their behaviour. "UV (Selected)" seems to behave like "Texture" and "UV" aligns the cursor to the selected UV's.

Secondly aligning to a single selected vertex or edge does not seems to wo

[2021-03-10 23:57] nutti commented on #146
Thanks.
But I found another way (Only tweaking the current algorithm).

Maybe this works fine.
https://github.com/nutti/Magic-UV/archive/develop.zip

[2021-03-11 05:02] nutti commented on #148
@gohde

Thanks for your report. I fixed it.
Please note that when the selected vertex is located at the border of UV island with UV Sync Selection enabled, this feature still fails because of the Blender's specification.

[2021-03-11 05:02] #148 closed

[2021-03-12 08:15] mifth commented on #146
@nutti  everything is perfect! Thank you a lot for your effort!

[2021-03-13 00:17] nutti commented on #146
Merged. Thanks for your cooperation @mifth .

[2021-03-13 00:17] #146 closed

[2021-03-19 07:44] nutti commented on #80
This feature is now merged to master branch.

[2021-03-19 07:44] #80 closed

[2021-04-19 11:19] SpechtMagnus opened #149 "Typo in the Wiki "Copy/Pate UV""
**System Information**
*irrelevant*

**Expected behavior**
Paste is pselled Paste insted of Pate

**Description about the bug**
Just a simple typo. In the Wiki on the Tutorial Page it says "Copy/**Pate** UV"

[2021-04-28 09:18] nutti commented on #149
This is now fixed.
I will reflect this to the wiki as well after v6.6 is released.

[2021-04-28 09:18] #149 closed

[2021-04-30 08:49] nutti commented on #99
This bug is now fixed by using the same algorithm in Copy/Paste UV Island.

[2021-04-30 08:49] #99 closed

[2021-05-24 09:17] skarkkai commented on #104
Getting this error 2.92.0 for no reason that I can tell.

[2021-10-21 17:13] iyadahmed opened #151 "AttributeError: 'NoneType' object has no attribute 'mode'"
**System Information**

* OS: [e.g. Windows]
* Blender version: 2.93.4
* Add-on version: 6.5.0

I open the operator search menu (f3) in 3d viewport and this shows in console
![image](https://user-images.githubusercontent.com/25552173/138325408-c12249e3-41fe-45be-8ddb-e3777643dc33.png)

[2022-01-29 20:57] MattFagan commented on #104
This is a broken add-on. It should be deleted. Since the author no longer monitors its massive broken state in Blender 3.0.

[2022-01-30 00:36] nutti commented on #104
@MattFagan

We're currently rewriting whole codes for **Smooth UV** and **Align UV** because these features does not work in specific case.
Sorry for delaying the support (because of my personal reason)...
If there is an another error, it is helpful for us.

[2022-02-17 21:48] GrindingAgony opened #153 "Magic UV won't do anything"
System Information - Windows 10, Blender 3.0.1

Expected to perform much like the Magic UV in Blender 2.79, which I've used for years.

I can't get anything to work, even on a simple UV sphere, all marked out with seams & unwrapped into 4 sections.
Any Magic UV command is continually blocked by the message "All UV's are not separated"
Well, they are separated, no overlaps. Everything's fine.

I've

[2022-02-18 10:16] nutti commented on #153
@GrindingAgony

Currently below two features does not work correctly which is already mentioned #79 .

* Smooth UV
* Align UV

I need a time to fix this issue because only specific case is supported now.

[2022-04-11 20:10] MrAdrianPl opened #154 "Copy paste behaviour"
Hi I've been wondering about copy paste behaviour mainly about how it does split whole islands into many small pieces. is there any rational way to stich all these disconnected pieces into working whole with one click?
Merge by distance isn't working properly with that and im wondering how to solve that issue... any chance for a one click merge islands option or a checkbox within the uv copy/paste

[2022-04-14 13:59] nutti commented on #154
@MrAdrianPl

Actually, there is no feature to connect islands.
If you show me the clear specification, we can check whether your request can be realized or not.

[2022-04-15 12:12] MrAdrianPl commented on #154
ok so the e.g. of what's happening after pasting an uv onto other object im getting individual faces made into islands

![image](https://user-images.githubusercontent.com/55670902/163568744-044225f2-7444-4b5d-882c-3135bb2980f0.png)

this is for showcase on the right is original uv island and on the left are islands divided into faces by the copy/paste function im not quiet sure why but these faces

[2022-04-22 10:47] ghost opened #155 "Copy/Pasting a UV map from a mesh variant results in a distorted map"
**System Information**

* OS: Windows 10.0.19044
* Blender version: 3.1.2
* Add-on version: 6.5.0

**Expected behavior**
The target UV map is copied over to another mesh without distortions.

**Description about the bug**
In our project, we have succesfully used UV Copy/Paste feature for all other models with similar features, but for some reason the attached model has distortions when we copy the

[2022-06-02 23:45] RecklessJames opened #157 "Copy/Pasting UV islands with slight variations causes a crash (load wheel)"
**System Information**

* OS: Windows 10
* Blender version: 2.90
* Add-on version: 6.6

**Expected behavior**
Attempting to paste a copied UV island to another island.

**Description about the bug**
Freezes with infinite loading, requiring forced shutdown of program using Task Manager.

**Screenshots/Files** [Optional]
![1](https://user-images.githubusercontent.com/12752293/171758046-d6bef519-2808

[2022-06-09 14:31] RedMser opened #158 "Copy/Paste UV causes "KeyError""
**System Information**

* OS: Windows 10
* Blender version: 3.2.0 and 3.3.0
* Add-on version: 6.6.0

**Description about the bug**
- Open factory startup scene, select cube
- Add a second UVMap to it
- Edit Mode -> select all
- Press U -> Copy/Paste UV -> Copy Default -> UVMap
- Press U -> Copy/Paste UV -> Paste Default -> UVMap.001

[code]

Commenting out the relevant lines makes this function of

[2022-06-09 16:33] schroef commented on #136
Im running 2.83 on old OSX computer. usiong v 6.2.0
The operator tries to find images from the file common.py But i dont get why it causes the error "Find more than 2 images
" the if statement makes no sense to me. Because it says this ```f len(images) >= 2:
    #     raise RuntimeError("Find more than 2 images")```
    Which means the opposite of the error?!
    If i turn the if statememt of, the

[2022-07-18 04:04] mouurusai opened #159 "Error on undo in UV Bounding Box mode"
**System Information**

* OS: Windows 10 19043
* Blender version: 3.2.0
* Add-on version: 6.6.0

**Expected behavior**
ctrl+z undo previous action

**Description about the bug**
Undo action in UV Bounding Box mode cause an error:
[code]

**How to reproduce**
Select object with uv data
Switch to edit mode
Select all in 3d view
Select all in UV editor
Open UV Magic panel
Check on "UV Bounding Box"
C

[2022-08-02 11:35] kingsushi001 opened #160 "Baking after applying World UV scale"
Hi

As the title suggests, is there a way to bake the textures after the World UV scale has been applied?
Because at the moment only the parts that contain the UV islands are baked.

Or am I missing something?

[2022-08-02 16:45] kingsushi001 commented on #160
Never mind. My dumbass forgot about multiple UV Maps :finnadie:

[2022-08-02 16:45] #160 closed

[2022-08-08 10:01] EugeneDudavkin opened #161 "AttributeError in 6.5.0-6.6.0"
**System Information**
* OS: [Windows-10-10.0.19044-SP0 64 Bits]
* Blender version: [2.93.7] and [3.2.1]
* Add-on version: [6.5.0] and [6.6.0]

**Description about the bug**
If select non mesh object and hit F3 -> Error
[code]

[2022-09-11 22:27] 1NightVision1 opened #162 "Import UVMap from an external model"
**Description about the feature**
When on import section there would be a "UV Map Import" that will let you choose a model, using UV compatibile models as extension (e.g. FBX), and possibly let you choose what UVMap to import to the active object. Possibly it would allow for DataTransfer of the UVMap importe, to a different geometry, if that's the case. This would be an import variance basically,

[2022-09-26 23:17] DORKINHORKIN commented on #118
I can confirm this issue is still present in Blender 3.3.0
![image](https://user-images.githubusercontent.com/34221540/192397266-3c91b6c7-6a89-4367-8fc4-0526a4594e71.png)

[2022-10-24 09:18] nutti commented on #158
@RedMser

Thanks. This issue is now fixed.

[2022-10-24 09:18] #158 closed

[2022-10-24 09:34] nutti commented on #161
This issue is fixed by Blender official patch.
https://developer.blender.org/rBA4b25801f640ee49f49c63d4de6871504236ce6b7

The patch has already merged to this repo.
https://github.com/nutti/Magic-UV/commit/545652261e9c59ffa02ed29333b4a0bf4c667dbb

[2022-10-24 09:34] #161 closed

[2022-10-24 11:26] nutti commented on #161
Sorry this error is different from the Blender official patch.
But this issue is now fixed.

[2022-10-25 08:40] nutti commented on #157
Thanks for your report.
This issue is now fixed.

[2022-10-25 08:40] #157 closed

[2022-10-26 08:35] nutti commented on #159
This issue is now fixed.

[2022-10-26 08:35] #159 closed

[2022-10-26 08:43] nutti commented on #155
@mystrdat

Sorry for the late reply.
Is it possible to share a base model?

Copy/Paste UV only refers UV coordinate not vertex coordinate.
So this is a bit weird behavior.

[2022-10-26 08:47] nutti commented on #155
@mystrdat

Sorry, I found the base mesh in the same .blend file.
I checked the UV coordinate and confirmed that this behavior is the expected one.

As I said on the previous post, Copy/Paste UV only refers UV coordinate not vertex coordinate.

[2022-10-26 08:51] #153 closed

[2022-10-26 08:52] nutti commented on #153
This issue is duplicate of #79.
Close it for now.

[2022-10-26 09:08] nutti commented on #154
@MrAdrianPl

Sorry for the late response.

Ah, it makes me clearer.
The feature you want is like *Create Island from connected UV coordinate*, right?
I will try to realize this feature.

[2022-10-26 09:32] MrAdrianPl commented on #154
yes exactly, that would be great to have

śr., 26 paź 2022, 11:08 użytkownik nutti ***@***.***> napisał:

[2022-11-14 10:14] 1NightVision1 commented on #162
As i said on the Additional Comments, this is not actually something i would use, so... not sure if there's any advantages. The main thing was that, instead of importing the object, then use the "Copy UV" button on the panel, the option on the importer (which can be added to the addon it self) would make all of this for you,  no object being added to the file. The original idea of the dude i was t

[2022-11-20 09:34] nutti commented on #162
@1NightVision1

Thanks for your following up.
After finishing other tasks, we will tackle this issue.
So please wait patiently...

[2022-11-23 12:19] nutti commented on #162
@1NightVision1

Does it mean that you want to transfer UV map to the other meshes via custom UV map file?
If UV coordinates are same among objects topologically, you can Copy/Paste UV coordinates by using the island based Copy/Paste UV.

[2022-11-25 12:20] EugeneDudavkin opened #164 "Align UV Cursor did not convert values for Pixel Coordinates"
**System Information**

* OS: Windows 10
* Blender version: 3.3.1
* Add-on version: 6.6.0

**Description about the bug**
Align UV Cursor tool did not convert values (2) if Pixel Coordinates is checked (1)

![AlignUVCursor](https://user-images.githubusercontent.com/87300864/203984356-a5b33466-e63e-4a29-ae29-7c11fd16ea53.png)

[2022-11-26 18:58] EugeneDudavkin opened #165 "Align UV Cursor new UI for redo panel"
**Description about the feature**
New UI for better select align cursor position.

**Are you willing to contribute about this feature. (Yes/No)**
Yes

**Screenshots** [Optional]
![Align UV Cursor new UI](https://user-images.githubusercontent.com/87300864/204104599-ddd7419b-ed72-4408-b917-3a4c8df3ebbd.png)

**Code**
Changes is only added **def draw** for **class MUV_OT_AlignUVCursor**
and **('CENTE

[2022-11-27 10:33] nutti commented on #165
@EugeneDudavkin

Thanks for your request and contribution.
But, please create [a new pull request](https://github.com/nutti/Magic-UV/pulls) instead of pasting the code to the issue.

[2022-11-27 10:33] #165 closed